
.inner {

		&__container {
		}
}
.left {

		&__side {
		}
}
.my {

		&__wallets {
            display: flex;
		}
}
.wallet {

		&__heading {
		}
}
.plus {

		&__btn {
            border: none;
            outline: none;
            background-color: #fff;
            cursor: pointer;
		}

		&__btn-img {
		}
}
